{% import "_includes/forms" as forms %}

{# Require permission #}
{% requirePermission 'utility:logger' %}

{# Set title and selected tab #}
{% set title = "Logger" %}
{% set selectedSubnavItem = "logger" %}
{% set selectedType = craft.app.request.getQueryParam('type') ?? '' %}

{# Register assetbundle #}
{% do view.registerAssetBundle("pixeldeluxe\\siteutils\\web\\assets\\logger\\LoggerAsset") %}
{% do view.registerJs('new Craft.Logger();') %}

<div id="logger-list">
	<div class="toolbar">
		<div class="flex">
			<div class="showarchivedcontainer">
				<div class="btn" role="checkbox" tabindex="0" aria-checked="false" title="{{ "lang_util_logger_archive_info"|t('siteutils') }}">
					<div class="checkbox logger-control"></div>
				</div>
			</div>

			<div class="select">
				<select class="fieldtoggle logger-control" id="logger-filter">
					<option value="">All</option>

					{% for type in craft.siteutils.logger.getLogTypes() %}
						<option value="{{ type.handle }}"{% if selectedType == type.handle %} selected="selected"{% endif %}>{{ type.label }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="flex-grow">
	            {{ forms.text({
	                placeholder: "Search"|t('app'),
	                class: 'search logger-control'
	            }) }}
	        </div>

			<form method="post" accept-charset="UTF-8" id="logger-archive-form">
				{{ csrfInput() }}
				<input type="submit" class="btn submit logger-control" value="{{ "Archive"|t }}">
			</form>

			<form method="post" accept-charset="UTF-8" id="logger-delete-form">
				{{ csrfInput() }}
				<input type="submit" class="btn submit logger-control" value="{{ "Delete"|t }}">
			</form>

			<div class="spinner"></div>
        </div>
	</div>

	<div class="logger-content list"></div>

	<div class="pagination">
		<button class="btn inline-block prev logger-control">
			Vorige
		</button>

		<button class="btn inline-block next logger-control">
			Volgende
		</button>

		<p class="pagination-count inline-block"></p>
	</div>
</div>